// .home .hero .description {
//     max-width: 75rem ;
//     font-size: 1.6rem;
//     line-height: 1.3;
//     color: #4e6e8e;
// }

// .home .hero .action-button, .theme-default-content pre, .theme-default-content pre[class*="language-"] {
//     background: linear-gradient(to right, #5556D0, #7F7DDC);
//     border-bottom: 1px solid linear-gradient(to right, #5556D0, #7F7DDC);
// }


// a.sidebar-link.active {
//     border-left-color: #6565d4;
//     color: #6565d4;
// }

// .navbar .site-name, a.header-anchor, a.sidebar-link:hover {
//     color: #6565d4;
// }

// .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active, .nav-links a:hover, .nav-links a.router-link-active {
//     color: #6565d4;
//     border-bottom: 2px solid #6565d4;
// }

$accentColor = #6565d4;
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc